
*{
  margin: 0;
  padding: 0;
}

.ContactMainPic {
  width: 100%;
  height: 520px;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.conatctWallcol{
  position: relative;
  top: -130px;
  left: 20px;
  width: 450px;
  height: 170px;
  background-color: #f8f4f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.ContactHomeHeading {
  position: relative;
  top: 25px;
  margin-left: 35px;
  color: black;
  font-size:30px
}
.Contactbutton {
  position: relative;
  top: 13px;
  left: 12%;
  width: 150px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: rgb(17, 16, 16);
  color: #b19777;
}.Contact{
  position: absolute;
  left:50%;
  top:78%;
  font-size:30px;
  color: white
}
.contactSocial{
  position: absolute;
  left:85%;
  top:78%;
  font-size:40px
}
.contactPart1{
  display:grid;
      grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
      grid-template-rows: 150px ;
}
.contactPart2{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
  grid-template-rows: 150px ;
}
.contact3 {
  width: 500px;
  height: 600px;
  position: relative;

  left: 75px;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
position: relative;
}
.contactDetails{
  position: absolute;
  left: 60%;
}
.Contactleftheading{
  color: #b19777;
  font-size:30px;
  position: relative;
  left: 19%;
}
.contactForm{
  position: relative;
  top: 50px;
}
@media screen and (min-width: 990px) and (max-width: 1250px) {
  *{
    margin: 0;
    padding: 0;
  }
  .conatctWallcol{
    position: relative;
    top: -130px;
    left: 20px;
    width: 420px;
    height: 170px;
    background-color: #f8f4f3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  .ContactHomeHeading {
    position: relative;
    top: 25px;
    margin-left: 35px;
    color: black;
    font-size:30px
  }
  .Contactbutton {
    position: relative;
    top: 13px;
    left: 12%;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(17, 16, 16);
    color: #b19777;
  }
  .contactPart1{
    display:grid;
        grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
        grid-template-rows: 150px ;
  }
  .contactPart2{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
    grid-template-rows: 150px ;
    position:relative
  }
  .contactForm {
    position: relative;
    top: 65px;
    width: 300px;
    left: 20%;
}
.contact3 {
  width: 430px;
  height: 500px;
  position: relative;
  top:25%;
  left: -32px;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.contactDetails {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 400px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  *{
    margin: 0;
    padding: 0;
  }
  .conatctWallcol {
    position: relative;
    top: -130px;
    left: 20px;
    width: 315px;
    height: 170px;
    background-color: #f8f4f3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
  .ContactHomeHeading {
    position: relative;
    top: 25px;
    margin-left: 35px;
    color: black;
    font-size:30px
  }
  .Contactbutton {
    position: relative;
    top: 13px;
    left: 12%;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(17, 16, 16);
    color: #b19777;
  }
  .contactPart1{
    display:grid;
        grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
        grid-template-rows: 150px ;
  }
  .Contact {
    position: absolute;
    left: 50%;
    top: 76%;
    font-size: 25px;
    color: white;
    width: 150px;
}
.contactSocial {
  position: absolute;
  left: 76%;
  top: 80%;
  font-size: 31px;
}
.Contactleftheading {
  color: #b19777;
  font-size: 30px;
  position: relative;
  left: 1%;
  text-align: center;
}
.contact3 {
  width: 430px;
  height: 500px;
  position: relative;
  top: 86%;
  left: 134px;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.contactDetails {
  position: absolute;
  top: 100%;
  left: 24%;
  width: 400px;
}
}
@media screen and (min-width: 550px) and (max-width: 768px) {
  *{
    margin: 0;
    padding: 0;
  }
  .conatctWallcol {
    position: relative;
    top: -130px;
    left: 20px;
    width: 315px;
    height: 170px;
    background-color: #f8f4f3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
  .ContactHomeHeading {
    position: relative;
    top: 25px;
    margin-left: 35px;
    color: black;
    font-size:25px
  }
  .Contactbutton {
    position: relative;
    top: 13px;
    left: 12%;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(17, 16, 16);
    color: #b19777;
  }
  .Contact {
    position: absolute;
    left: 24%;
    top: 100%;
    font-size: 25px;
    color: black;
    width: 285px;
}
.contactSocial {
  position: absolute;
  left: 42%;
  top: 107%;
  font-size: 31px;
}
.Contactleftheading {
  color: #b19777;
  font-size: 30px;
  position: relative;
  left: 1%;
  text-align: center;
}
.contact3 {
  width: 500px;
  height: 500px;
  position: relative;
  left: 5px;
  top: 80%;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.contactDetails {
  position: absolute;
  top: 95%;
  left: 15%;
  width: 400px;
}
}
@media screen and (min-width: 400px) and (max-width: 550px) {
  *{
    margin: 0;
    padding: 0;
  }
  .conatctWallcol {
    position: relative;
    top: -130px;
    left: 20px;
    width: 315px;
    height: 170px;
    background-color: #f8f4f3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
  .ContactHomeHeading {
    position: relative;
    top: 25px;
    margin-left: 35px;
    color: black;
    font-size:25px
  }
  .Contactbutton {
    position: relative;
    top: 13px;
    left: 12%;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(17, 16, 16);
    color: #b19777;
  }
  .Contact {
    position: absolute;
    left: 20%;
    top: 100%;
    font-size: 25px;
    color: black;
    width: 285px;
}
.contactSocial {
  position: absolute;
  left: 20%;
  top: 107%;
  font-size: 31px;
  color: #b19777;
}
.Contactleftheading {
  color: #b19777;
  font-size: 30px;
  position: relative;
  left: 1%;
  text-align: center;
}
.contact3 {
  width: 440px;
  height: 500px;
  position: relative;
  left: 0px;
  top: 81%;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.contactDetails {
  position: absolute;
  top: 95%;
  left: 8%;
  width: 390px;
}
}

/* -------------------------------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}
.title{
  color: #b19777;
  margin-top:10px;
  text-shadow: 2px 2px 5px #91806b;
}
.footerHome {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(400px,1fr))  ;
  grid-template-rows: 280px ;
  position: relative;
  top: 500px;
background-color: #252430;
}
.footerHeadHome{
text-align: center;
color: white;
margin-top:20px
}

.footerBottomHome {
position: relative;
top: 41px;
background-color: #252430;
height: 50px;
}
#copyrightHome {
color: white;
margin-top: 0px;
/* margin-left: 50px; */
font-size: 15px
}
p {
margin-bottom: 0rem;
}
#termsHome {
color: white;
margin-top: 0px;
/* margin-left: 690px; */
font-size: 15px;
}

.footerContactHome {
color: white;
font-size: 25px;
margin-bottom: 10px;
}
.footerAddressHome {
color: white;
font-size: 15px;
margin-top:20px
}
.footerProjectsHome {
color: white;
font-size: 25px;
}
.footerProjectHome {
color: white;
margin-top: 20px;
font-size: 15px;
}
.footerPhoneHome {
margin-bottom: -1rem;
font-size: 15px;
color: white;
margin-top:20px
}

.footerPHome,
.footerCHome,
.footerHHome {
position: relative;

margin-top: 60px;
text-align: center;
}
@media screen and (min-width: 990px) and (max-width: 1250px) {
  *{
      margin: 0;
      padding: 0;
    }
    .footerHome {
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(320px,1fr))  ;
      grid-template-rows: 280px ;
      position: relative;
      top: 13cm;
       background-color: #252430;
  }
  .footerPHome,
.footerCHome,
.footerHHome {
position: relative;
margin-top: 60px;

}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  *{
      margin: 0;
      padding: 0;
    }
    .footerHome {
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(250px,1fr))  ;
      grid-template-rows: 280px ;
      position: relative;
      top: 13cm;
       background-color: #252430;
  } 
}
@media screen and (min-width: 550px) and (max-width: 768px) {
  *{
      margin: 0;
      padding: 0;
    }
    .title{
      color: #b19777;
      margin-top:10px;
     margin-left: 10px;
      text-shadow: 2px 2px 5px #91806b;
  }
  .footerHome {
      position: relative;
      top: 254px; 
      height:700px
  }
 .footerCHome{
      position: absolute;
      top:30%;
      left: 20%;
  }
  .footerPHome{
      position: absolute;
      top:65%;
      left: 35%;
  }
}
@media screen and (min-width: 410px) and (max-width: 550px) {
  *{
      margin: 0;
      padding: 0;
    }
    .title{
      color: #b19777;
      margin-top:10px;
     margin-left: 10px;
      text-shadow: 2px 2px 5px #91806b;
  }
  .footerHome {
      position: relative;
      top: 12cm;
      height:700px
  }
 .footerCHome{
      position: absolute;
      top:30%;
      left: 15%;
  }
  .footerPHome{
      position: absolute;
      top:65%;
      left: 30%;
  }
}

















































/* .ContactMainPic {
  width: 100%;
  height: 520px;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.contactPart1{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(420px,1fr))  ;
  grid-template-rows: 150px ;
}
.conatctWallcol{
  position: relative;
  top: -130px;
  left: 90px;
  width: 500px;
  height: 170px;
  background-color: #f8f4f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}  
.ContactHomeHeading {
  position: relative;
  top: 25px;
  margin-left: 35px;
  color: black;
  font-size: 30px;
}
.Contactbutton {
  position: relative;
  top:20px;
  left: 12%;
  width: 150px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: rgb(17, 16, 16);
  color: #b19777;
}
.Contact{
  position: absolute;
  left:50%;
  top:70%;
  font-size:30px;
  color: white;
}
.contactSocial{
  position: absolute;
  left:80%;
  top:69%;
  font-size:40px;
  color:black
}
.Contactleftheading{
  color: #b19777;
  font-size:30px;
  position: relative;
  left: 19%;
}
.contactForm{
  position: relative;
  top: 50px;
}
.contact3 {
  width: 500px;
  height: 600px;
  position: relative;

  left: 75px;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactDetails {
  position: absolute;
  top: 100%;
  left: 60%;
}
.Contactparaheading{
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-top:50px;
  line-height:2rem
}
.Contactheading{
  font-size: 45px;
}

.Contactparaheading1{
  font-size: 16px;
  margin-top: 20px;
  color: black;
}

.Contactparaheading2{
  position: relative;
  line-height:2rem;
  color: black;;
  font-size: 16px;
  font-weight: bold;
  top: 30px;}

  @media screen and (min-width: 990px) and (max-width: 1250px) {
    .conatctWallcol{
      position: relative;
      top: -130px;
      left: 40px;
      width: 420px;
      height: 170px;
      background-color: #f8f4f3;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      opacity: 0.9;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }  
    .ContactHomeHeading {
      position: relative;
      top: 25px;
      margin-left: 35px;
      color: black;
      font-size: 25px;
    }
    .Contactbutton {
      position: relative;
      top:20px;
      left: 12%;
      width: 120px;
      height: 40px;
      border-radius: 8px;
      border: none;
      background-color: rgb(17, 16, 16);
      color: #b19777;
    }
    .Contact{
      position: absolute;
      left:49%;
      top:70%;
      font-size:25px;
      color: white;
    }
    .contactSocial{
      position: absolute;
      left:80%;
      top:69%;
      font-size:35px;
      color:black
    }
    .contactForm{
      width: 450px;
    }
    .contact3 {
      width: 450px;
      height: 520px;
      position: relative;
      left: 15px;
      opacity: 0.5;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .contactDetails {
      position: absolute;
      top: 100%;
      left: 55%;
    }
    .Contactparaheading{
      font-size: 15px;
      font-weight: bold;
      color: black;
      margin-top:50px;
      line-height:2rem
    }
    .Contactheading{
      font-size: 38px;
    }
    
    .Contactparaheading1{
      font-size: 14px;
      margin-top: 20px;
      color: black;
    }
    
    .Contactparaheading2{
      position: relative;
      line-height:1.5rem;
      color: black;;
      font-size: 14px;
      font-weight: bold;
      top: 30px;}
  }
  @media screen and (min-width: 800px) and (max-width: 990px) {
    .contactForm{
      width: 450px;
      position: relative;
      left: 10%;
    }
    .contact3 {
      width: 630px;
      height: 600px;
      position: absolute;
      top: 200%;
      left: 10%;
      opacity: 0.5;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .contactDetails {
      position: absolute;
      top: 125%;
      left: 20%;
    }
    .Contactparaheading{
      font-size: 18px;
      font-weight: bold;
      color: black;
      line-height:2rem;
      position: relative;
      top:520px;
    }
    .Contactheading{
      position: relative;
      top:530px;
      font-size: 38px;
    }
    
    .Contactparaheading1{
      position: relative;
      top:560px;
      font-size: 18px;
      color: black;
    }
    
    .Contactparaheading2{
      position: relative;
      line-height:1.5rem;
      color: black;;
      font-size: 16px;
      font-weight: bold;
      top:580px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    .contactPart1{
      display:grid;
      grid-template-columns: repeat(auto-fit,minmax(350px,1fr))  ;
      grid-template-rows: 150px ;
    }
    .contactForm{
      width: 450px;
      position: relative;
      left: 10%;
    }
    .contact3 {
      width: 630px;
      height: 600px;
      position: absolute;
      top: 200%;
      left: 10%;
      opacity: 0.5;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .contactDetails {
      position: absolute;
      top: 125%;
      left: 20%;
    }
    .Contactparaheading{
      font-size: 18px;
      font-weight: bold;
      color: black;
      line-height:2rem;
      position: relative;
      top:520px;
    }
    .Contactheading{
      position: relative;
      top:530px;
      font-size: 38px;
    }
    
    .Contactparaheading1{
      position: relative;
      top:560px;
      font-size: 18px;
      color: black;
    }
    
    .Contactparaheading2{
      position: relative;
      line-height:1.5rem;
      color: black;;
      font-size: 16px;
      font-weight: bold;
      top:580px;
    }
  }
  @media screen and (min-width: 550px) and (max-width: 768px) {
    .contactForm{
      width: 400px;
      position: relative;
      left: 5%;
    }
    .Contactleftheading{
      color: #b19777;
      font-size:30px;
      position: relative;
      left: 5%;
      width: 200px;
    }
    .contact3 {
      width: 480px;
      height: 600px;
      position: absolute;
      top: 200%;
      left: 5%;
      opacity: 0.5;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .contactDetails {
      position: absolute;
      top: 125%;
      left: 5%;
    }
    .Contactparaheading{
      font-size: 18px;
      font-weight: bold;
      color: black;
      line-height:2rem;
      position: relative;
      top:520px;
    }
    .Contactheading{
      position: relative;
      top:530px;
      font-size: 38px;
    }
    
    .Contactparaheading1{
      position: relative;
      top:560px;
      font-size: 18px;
      color: black;
    }
    
    .Contactparaheading2{
      position: relative;
      line-height:1.5rem;
      color: black;;
      font-size: 16px;
      font-weight: bold;
      top:580px;
    }
  }

  @media screen and (min-width: 410px) and (max-width: 550px) {
    .contactForm{
      width: 380px;
      position: relative;
      left: 5%;
    }
    .Contactleftheading{
      color: #b19777;
      font-size:30px;
      position: relative;
      left: 5%;
      width: 200px;
    }
    .contact3 {
      width: 468px;
      height: 600px;
      position: absolute;
      top: 200%;
      left: 2%;
      opacity: 0.5;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .contactDetails {
      position: absolute;
      top: 125%;
      left: 15%;
    }
    .Contactparaheading{
      font-size: 18px;
      font-weight: bold;
      color: black;
      line-height:2rem;
      position: relative;
      top:520px;
      width: 400px;
    }
    .Contactheading{
      position: relative;
      top:530px;
      font-size: 38px;
      width: 400px;
    }
    
    .Contactparaheading1{
      position: relative;
      top:560px;
      font-size: 18px;
      color: black;
      width: 400px;
    }
    
    .Contactparaheading2{
      position: relative;
      line-height:1.5rem;
      color: black;;
      font-size: 16px;
      font-weight: bold;
      top:580px;
      width: 400px;
    }
  } */